/* 
TODO:: - Add a font
TODO:: - Fix the grid on big screens (1080p)
TODO:: - Position absolute and relative on the img-text
TODO:: - The rest of the assignment
 */

:root {
  --color-banner: #19344d;
  --color-banner-text: #bdcddb;
  --color-bg: #bdcddb;

  --color-text-background: hsla(0, 0%, 96%, 0.75);
  --color-text-link: #142e47;

  --grid-gap: 0.8rem;
  --header-height: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  max-width: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  /* font-family: "Roboto", sans-serif; */
  background-color: var(--color-bg);
  height: 100vh;
}

header {
  height: var(--header-height);
}

main {
  height: 100%;
  margin: auto 0;
}

nav {
  color: var(--color-banner-text);
  padding: 1rem 0;
}

article > section {
  padding: 0.8rem;
}

img {
  max-width: 100%;
}

img {
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0 85%);
}

header,
footer {
  background-color: var(--color-banner);
  color: white;
  padding: 1rem;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-text {
  width: 100%;
  height: 2rem;

  position: absolute;
  bottom: 20%;

  /* Couldn't get it to work without flexbox. My tiny pea sized brain couldn't figure it out. */
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-text-background);
}

.img-text h2 {
  font-size: 1.2em;
  color: var(--color-text-link);
}

.set-relative {
  position: relative;
}

.set-height-100p {
  display: flex;
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.margin-y-2rm {
  margin: 2rem 0;
}

.grid-container {
  display: grid;
  grid-template-rows: var(--header-height) auto 1fr;
  grid-gap: var(--grid-gap);
}

.grid-selection-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--grid-gap);
}

@media screen and (min-width: 1000px) {
  .just-space-evenly {
    justify-content: space-evenly;
  }

  .grid-selection-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1500px) {
  .img-text {
    display: block;
    width: auto;

    bottom: 0;
    background-color: transparent;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height) auto var(--header-height);
    /* grid-template-rows: 1fr; */
  }

  .grid-selection-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
